div{
    color: aliceblue;
    width: 100px;
    height: 100px;
    background-color: aliceblue;
}
div span{
    background-color: aliceblue;
    width: 20px;
    height: 20px;
    color: aliceblue;
}